---
const {email, vatNumber, iban, address, city, phone} = Astro.props;
---

<article class="footer-contact">
    <p>Email: <a href={email}>{email}</a></p>
    <p>BTW {vatNumber}0</p>
    <p>IBAN {iban}</p>
    <p>{address}<br/> {city}</p>
    <p>Tel: <a href={`tel:${phone}`}>{phone}</a></p>
</article>
